@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: oklch(0.985 0.002 247.839);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-primary: #ff206e;
  --color-primaryLight: #ff4f5a;
  --color-secondary: #12cad6;
  --color-secondaryLight: #17a2b8;
  --color-tertiary: #064663;
  --color-tertiaryLight: #008b8b;
  --color-light: #f8f9fa;
}
